--url
BEDROCK
banned-ips.json
banned-players.json
bukkit.yml
cache
commands.yml
config.yml
eula.txt
help.yml
locations.yml
logs
mail
modules
modules.yml
ops.json
paper.jar
paper.yml
permissions.yml
plugins
screenlog.0
server.jar
server.properties
spigot.yml
usercache.json
version_history.json
vpn
waterfall.jar
waterfall.yml
whitelist.json
